/** dark 主题下的变量 */

// 主题名称
$theme-name: 'dark';
// 主题背景颜色
$theme-bg-color: #1c1c1c;
// 主题色
$theme-color: #ec48c9;
// 默认文字颜色
$font-color: #c0c4cc;
// active 状态下文字颜色
$active-font-color: #fff;
// hover 状态下文字颜色
$hover-color: #fff;
// 边框颜色
$border-color: #303133;
$my-color: #9898a2;
